body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(241, 240, 240);

  }
  .navbar-custom {
    background-color: white;
    padding: 0.5rem 1rem;
    height: 4.5rem; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  }
  .navbar-brand img {
    height: 70px; /* Mengatur tinggi gambar agar sesuai dengan tinggi navbar */
    width: auto; /* Mengatur lebar gambar agar menyesuaikan proporsi aslinya */
    image-resolution: 0 4px 8px rgba(255, 255, 255, 0.10);
   }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    font-family: 'Be Vietnam Pro', serif;
    font-weight: bold;
    color: black;
  }
  .navbar-custom .navbar-brand img {
    width: 200px;
    
  }

  .kegiatan {
      padding: 2rem 0;
    }
    
    .kegiatan img {
      max-width: 100%;
      height: auto;
    }

    .view-more {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      /* background-color: #ffffff; */
      color: #343a40;
      text-decoration: none;
      border-radius: 5px;
      font-family: 'Be Vietnam Pro', serif;
      font-weight: bold;
      color: rgb(66, 64, 64);
      font-size: 20px; /* Adjust the font size as needed */
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .view-more:hover {
      background-color: #acabab;
    }

    .kegiatan h3, .kegiatan p {
        font-family: 'Be Vietnam Pro', sans-serif;
      }
      .kegiatan h3 {
        font-size: 1.75rem;
        color: #343a40;
        margin-top: 0;
        padding-left: 10px;
      }
      .kegiatan p {
        font-size: 1.1rem;
        color: #6c757d;
        padding-left: 10px;
        margin-bottom: 10px;
      }
      .kegiatan h3, .kegiatan p {
        font-family: 'Be Vietnam Pro', sans-serif;
      }
      .kegiatan h3 {
        font-size: 1.75rem;
        color: #343a40;
        margin-top: 0;
        padding-left: 10px;
      }
      .kegiatan p {
        font-size: 1.1rem;
        color: #6c757d;
        padding-left: 10px;
        margin-bottom: 10px;
      }
      

  .footer {
    background-color: #343a40;
    color: #fff;
    padding: 2rem 0;
   }

    .footer-content {
      display: flex;
      justify-content: space-between;
      font-family: 'Copperplate', serif;
    }

    .footer-content .info {
      flex: 1;
    }

    .footer-content .contact-info {
      flex: 2;
    }

    .footer-content .social-media {
      flex: 1;
    }

    .contact-info p {
      margin: 0;
    }
    .info img {
      border: 1px solid #ffffff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(114, 112, 112, 0.5);
    }

    .social-media img {
      margin-right: 1rem;
    }

    .footer hr {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      margin: 1rem 0;
    }

    .copyright {
      color: #aaa;
    }